<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="contenedor">
      <div class="img-logo">
        <div class="">
          <img class="img1" src="../../assets/login/hone (2).png" alt="" />
        </div>
      </div>
      <div class="card-group">
        <form>
          <h1 class="parrafo">ACCESO A GESTIÓN DOCUMENTAL DE PRESTADORES</h1>
          <div class="form-group">
            <label for="exampleInputEmail1">Usuario</label>
            <div class="input-group mb-3">
              <br />
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-user"></i></span>
              </div>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                placeholder="Correo electrónico o usuario"
                autocomplete="username"
                #data
                required
                id="email"
                value=""
              />
            </div>
            <div class="alert alert-danger" role="alert"></div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Contraseña</label>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input
                type="password"
                class="form-control"
                formControlName="contrasena"
                placeholder="Contraseña"
                autocomplete="current-password"
                required
                id="contrasena"
              />
            </div>
            <div class="alert alert-danger" role="alert">contrasena</div>
          </div>

          <div class="input-group mb-4">
            <!-- <re-captcha formControlName="recaptchaReactive"></re-captcha> -->
          </div>
          <div class="alert alert-danger" role="alert">
            This is a danger alert—check it out!
          </div>

          <div class="row">
            <div class="col md-6">
              <div class="form-check">
                <input
                  class="form-check-input"
                  formControlName="validacion"
                  name="validacion"
                  type="checkbox"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Recordar contraseña
                </label>
              </div>
            </div>
            <div class="col-6 text-right">
              <div class="form-check olvidate">
                <div class="cambiate">
                  <a type="button" class="btn btn-link px-0 btn1">
                    ¿Olvidaste la contraseña?</a
                  >
                </div>
              </div>
            </div>
            <div class="alert alert-danger" role="alert">messaje</div>
            <button type="submit" class="btn btn-primary px-4 btn2">
              Iniciar sesión
            </button>
          </div>
        </form>
      </div>
      <!-- <div class="contenido">
              <div class="diseno2">
                <div class="card-group">   
                  <div class="quita">               
                      <div class="login ">                                                                   
                      </div>
                  </div>                   
                </div>
              </div>
            </div>	 -->
    </div>
  </main>
</div>
<!-- <ngx-spinner></ngx-spinner> -->

<!-- <div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="contenedor">
      <div class="img-logo">
              <div class="">
                  <img class="img1" src="./../../../assets/login/hone (2).png" alt="">
              </div>
      </div>
  <div class="contenido">
    <div class="diseno2">
              <div class="card-group">   
                  <div class="quita">               
                      <div class="login ">                           
                          <form [formGroup]="loginForm">
                              <div>
                                  <h1 class="parrafo">ACCESO A GESTIÓN DOCUMENTAL DE PRESTADORES</h1>

                                  <div class="form-group">
                                      <label for="exampleInputEmail1">Usuario</label>
                                      <div class="input-group mb-3">

                                          <br>
                                          <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="icon-user"></i></span>
                                          </div>
                                          <input type="text" class="form-control" formControlName="email"
                                              placeholder="Correo electrónico o usuario"
                                              autocomplete="username" #data required id="email" value=""
                                              (change)="recordar( $event.value)">
                                      </div>
                                      <div class="alert alert-danger" role="alert" *ngIf="getError('email')">
                                          {{getError('email')}}
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">Contraseña</label>
                                      <div class="input-group mb-4">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="icon-lock"></i></span>
                                          </div>
                                          <input type="password" class="form-control"
                                              formControlName="contrasena" placeholder="Contraseña"
                                              autocomplete="current-password" required id="contrasena">
                                      </div>
                                      <div class="alert alert-danger" role="alert"
                                          *ngIf="getError('contrasena')">
                                          {{getError('contrasena')}}
                                      </div>
                                  </div>

                                  <div class="input-group mb-4">
                                      <re-captcha formControlName="recaptchaReactive"></re-captcha>
                                  </div>
                                  <div class="alert alert-danger" role="alert"
                                      *ngIf="getError('recaptchaReactive')">
                                      This is a danger alert—check it out!
                                  </div>

                                  <div class="row">
                                      <div class="col md-6">
                                          <div class="form-check">
                                              <input class="form-check-input" formControlName="validacion"
                                                  name="validacion" type="checkbox" name="flexRadioDefault"
                                                  id="flexRadioDefault1"> <label class="form-check-label"
                                                  for="flexCheckDefault">
                                                  Recordar contraseña
                                              </label>
                                          </div>
                                      </div>
                                      <div class="col-6 text-right">
                                          <div class="form-check olvidate">
                                              <div class="cambiate">
                                                  <a [routerLink]="['/resetpassword']" type="button"
                                                      class="btn btn-link px-0 btn1">
                                                      ¿Olvidaste la contraseña?</a>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="alert alert-danger" role="alert" *ngIf="activeme">
                                          {{messaje}}
                                      </div>
                                      <button [disabled]="disable" type="submit"
                                          class="btn btn-primary px-4 btn2" (click)="loginUser()">Iniciar
                                          sesión</button>
                                    

                                  </div>
                              </div>

                          </form>                     
                      </div>
                  </div>                   
                 </div>
              </div>
      </div>	
    </div>
  </main>
</div>
<ngx-spinner></ngx-spinner> -->
